<strong>Olá, {{ provider }}</strong>
<p>
  Houve um cancelamento de horário, confira os detalhes abaixo:
</p>
<p>
  <strong>Client: </strong> {{  user }}<br />
  <strong>Data/Hora:</strong> {{ date }}<br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>
