name: Pipeline
on:
  push:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
      - uses: actions/checkout@v6
      - name: Run tests
        run: |
          npm ci
          npm run test
      - uses: codecov/codecov-action@v5
        with:
          directory: ./tests/coverage/
